#ignoring db properties
src/config/db.properties

# ignoring production folder
out


#avoiding intelije idea deafult folders and files
.idea
*.iml

#avoiding intelije idea deafult folders and files
.classpath
.project