#ignoring db properties
src/server/config/db.properties

# ignoring production folder
./out

.class
#avoiding intelije idea deafult folders and files configs
.idea
*.iml

#avoiding eclipse  deafult folders and files configs
.classpath
.project

#ignoring properties
./src/server/config/*.properties